@import './config';

body {
	font-family: $primary-font;
}

h1 {
	font-size: 4rem;
	line-height: 4rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-family: $secondary-font;
	font-weight: 900;
	font-size: 0.6rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

// p {
// 	font-family: $secondary-font;
// }
